*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
  }
   body{
       background-color:gray;
       }
       .container {
         width: 80%;
         margin: auto;
       }
       header {
         background-color: black;
         padding:8px 0;
       }
       .logo-wrapper .logo img {
          height: 50px;
       }
       .navbar {
         display: flex;
         justify-content: space-between;
         align-items: center;
       }
       .navbar ul {
         display: flex;
         gap: 10px;
       }
       .navbar ul li {
         color: white;
       }
       .navbar ul li a {
         color: white;
       }
       .navbar ul li a:hover {
        color:red;
        text-decoration: underline;
       }
       main{
         height:80vh;
         display:flex;
         justify-content: space-around;
         align-items: center;
         
       }
      
       .rightside img{
        height:400px;
        width:400px;
        margin:100px 150px;
        border:6px solid wheat;
        border-radius: 90%;
        margin-bottom: -30px;
       }

       .leftside{
        color:blueviolet;
       text-transform: ;
       float:left;
       }
       .links{
        text-align: center;
    }
    .texts{
      font-size:40px;
      color:firebrick;
    }
    
    .button_primary {
      background-color: #0f62fe;
      color: white;
      padding: 10px 25px;
      font-weight: bold;
      border-radius: 5px;
      border: none;
      margin-top: 10px;
      transition: all 1s ease-in-out;
    }
    
    .button_primary:hover {
      background-color: aqua;
      color: black;
      transform: scale(1.2);
      box-shadow: -1px 5px 18px 1px rgba(0, 0, 0, 0.5);
    }

       

     
    